.elementor-3156 .elementor-element.elementor-element-4881dfb {
    --display: flex;
    --border-radius: 20px 20px 20px 20px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-3156 .elementor-element.elementor-element-fa6a0a5>.elementor-widget-container {
    border-radius: 15px 15px 15px 15px;
}

.elementor-3156 .elementor-element.elementor-element-fa6a0a5 .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}

#elementor-popup-modal-3156 {
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

#elementor-popup-modal-3156 .dialog-message {
    width: 1000px;
    height: auto;
}

#elementor-popup-modal-3156 .dialog-close-button {
    display: flex;
    top: 3%;
}

#elementor-popup-modal-3156 .dialog-widget-content {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

body:not(.rtl) #elementor-popup-modal-3156 .dialog-close-button {
    right: 2%;
}

body.rtl #elementor-popup-modal-3156 .dialog-close-button {
    left: 2%;
}

#elementor-popup-modal-3156 .dialog-close-button i {
    color: #FFFFFF;
}

#elementor-popup-modal-3156 .dialog-close-button svg {
    fill: #FFFFFF;
}